<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../../../assets/enigma.png" alt="Paris" width="50" height="50">
    <h4>enigma</h4>
    <span class="mr-5">group</span>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active mr-3">
          <a  class="navbar-brand "  [routerLink]="['/utama']" > <i class="fas fa-home mr-1"></i>About Us  </a>
        </li>

        <li class="nav-item active mr-3">
            <a  class="navbar-brand"  [routerLink]="['/home']" > <i class="fas fa-database mr-1"></i>All Books   </a>
          </li>


        <li class="nav-item mr-3">
          <a class="navbar-brand" [routerLink]="['add']"><i class="fa fa-book mr-1" aria-hidden="true" ></i>Add Book
          </a>
        </li>
        
            </ul>
          </div>
  </nav>