<form class="container">
    <div class="form-group">
      <label for="exampleInputEmail1">id</label>
      <input
        type="text"
        name="id"
        [(ngModel)]="book.id"
        id="id"
        class="form-control"
        placeholder="Enter id"
      />
    </div>
  
    <div class="form-group">
      <label for="exampleInputEmail1">title</label>
      <input
        type="text"
        name="title"
        [(ngModel)]="book.title"
        class="form-control"
        id="title"
        aria-describedby="emailHelp"
        placeholder="Enter title"
      />
    </div>
  
    <div class="form-group">
      <label for="exampleInputEmail1">Publisher</label>
      <input
        type="text"
        name="publisher"
        [(ngModel)]="book.publisher"
        class="form-control"
        id="publisher"
        aria-describedby="emailHelp"
        placeholder="Enter Publisher"
      />
    </div>
  
    <div class="form-group">
      <label for="exampleInputEmail1">price</label>
      <input
        type="text"
        name="price"
        [(ngModel)]="book.price"
        class="form-control"
        id="price"
        aria-describedby="emailHelp"
        placeholder="price"
      />
    </div>
  
    <div class="form-group">
      <label for="exampleInputEmail1">stock</label>
      <input
        type="text"
        name="stock"
        [(ngModel)]="book.stock"
        class="form-control"
        id="stock"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
  
    <button  (click)="addBook(book)"  type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>