<div class="jumbotron">
        <h1 > <i>Enigma</i> group</h1> 
        <p class="lead">Founded in 2017, ENIGMA CAMP was originally one of the lines of business of PT. Square Techno Indonesia (STI) until year 2019 spin off into a new company, PT. Enigma Cipta Humanika.

            ENIGMA CAMP specializes in the business of IT Bootcamp and IT Talents Outsourcing. We have been specializing in this business since last three years and our client list includes the well-known enterprises. We are driven by experiences that build software engineer to support your business with 3 major programs, i.e. : Smart Sourcing, Talent Hunt & Build and Experienced Hiring.
            
            </p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
